---
layout: default
nav-order: 2
title: Arte e Cultura
class: art-and-culture
category: art-and-culture
banner-img: banner-art.jpg
intro: >
  <p class="lead">La Lombardia è una delle mete preferite dagli appassionati di arte e cultura - e come meravigliarsene?</p>
  <p>Mantova (Capitale della cultura italiana), Bergamo (candidata a diventare un nuovo Sito UNESCO), Brescia con il Capitolium e le moltissime iniziative culturali, sono solo alcuni dei tesori di cui ti potrai innamorare visitando la regione. Tra musei, monumenti storici e gallerie d’eccezione, preparati ad una raffinata scoperta di eccellenze culturali e artistiche. Non ultima Milano, una delle città più trendy d’Europa, che ha davvero tanto da offrire: imperdibile il Museo della Scienza e della Tecnologia, il nuovissimo MUDEC, la Pinacoteca di Brera e, per gli amanti del teatro, la programmazione di lirica e balletto al Teatro alla Scala.</p>
---

{% assign offers = site.data.offers %}

{% include offer-page-content.html %}

{% include inlombardia-banner.html %}
