---
layout: default
nav-order: 3
title: Sapore
class: food-and-drink
category: food-and-drink
banner-img: banner-food.jpg
intro: >
  <p class="lead">Dicci cosa vuoi mangiare (e cosa vuoi bere) e ti diremo chi sei. </p>
  <p>Se sei un buongustaio, in Lombardia troverai, letteralmente, pane per i tuoi denti. La regione offre un mix vincente di raffinati ristoranti stellati, oltre al meglio della ristorazione tradizionale italiana. Alcuni esempi di delizie locali? Partiamo da colossi del cibo nostrano come panettone e risotto giallo, per continuare con formaggi da acquolina in bocca fino a prodotti tutti da scoprire, come il caviale di produzione bresciana (che è in realtà il caviale più famoso al mondo!). Per gli amanti del vino c’è solo l’imbarazzo della scelta: Franciacorta, Botticino, Capriano del Colle... Salute!</p>
---

{% assign offers = site.data.offers %}

{% include offer-page-content.html %}

{% include inlombardia-banner.html %}
