---
layout: default
nav-order: 5
title: Natura
class: nature
category: nature
banner-img: banner-nature.jpg
intro: >
  <p class="lead">Se sei un amante della natura e adori rilassarti e fare sport all’aria aperta, la Lombardia è la meta perfetta anche per te.</p>
  <p>Ben 25 parchi naturali (hai sentito bene, 25!) oltre a giardini, oasi, laghi e montagne. Ideale per chi ama il verde, ma anche per gli sportivi di ogni genere: potrai dilettarti in sport acquatici, trekking ed escursioni, lunghe passeggiate nel verde, cicloturismo, sport invernali e molto altro.</p>
---

{% assign offers = site.data.offers %}

{% include offer-page-content.html %}

{% include inlombardia-banner.html %}
