---
layout: default
nav-order: 8
title: Offerte
class: offers
category:
banner-img: banner-default.jpg
intro: >
  <p class="lead">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. </p>
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
---

{% assign offers = site.data.offers %}

{% include offer-page-content.html %}

{% include inlombardia-banner.html %}
