---
layout: default
nav-order: 4
title: Shopping
class: shopping
category: shopping
banner-img: banner-shopping.jpg
intro: >
  <p class="lead">Voglia di shopping sfrenato? Anche in questo caso, la Lombardia è la risposta giusta. </p>
  <p>A Milano, capitale assoluta della moda e culla delle migliori firme del Made in Italy potrai trovare tutto quello che cerchi. Dagli atelier e dalle botteghe artigianali di Brera e Tortona, alle glitteratissime boutique di Galleria Vittorio Emanuele II, di Via Torino e del Quadrilatero della Moda. </p>
---

{% assign offers = site.data.offers %}

{% include offer-page-content.html %}

{% include inlombardia-banner.html %}
