<header class="site-header">
  <div class="row row--padding">

    <div class="mobile-icon mobile-icon__menu js-mobile-menu-open row--margin"></div>

    <a href="https://www.secretescapes.com/"><img class="site-header__logo site-header__logo--secret-escapes js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
    {% include partner-logo.html %}

    <nav class="site-header__nav mobile-menu">
      <div class="site-header__nav-item mobile-icon mobile-icon__close js-mobile-menu-close"></div>
      <ul class="site-header__nav-list">
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="https://it.secretescapes.com/offerte-in-corso">Offerte in Corso</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="https://it.secretescapes.com/https-wwwsecretescapesit-vive-la-france-filter/filtra">Vive la France!</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link" href="https://it.secretescapes.com/offerta-voucher">Buoni Regalo</a></li>
        <li class="site-header__nav-item"><a class="site-header__nav-link site-header__nav-link--current" href="{{ site.baseurl }}">{{ site.title }}</a></li>
      </ul>

      <div class="mobile-menu__logo">
        {% include partner-logo.html %}
      </div>
    </nav>

  </div>
</header>
