<section id="inlombardia_banner" class="section--fixed-bg">
  <div class="row row--padding text-wh align-center">

    <h2>VUOI SAPERNE DI PIÙ SULLA LOMBARDIA?</h2>
    <p class="lead">Iscriviti alla nostra newsletter per rimanere aggiornato sulle novità, sugli eventi e su tutto quello che succede nella regione</p>
    <a class="btn" href="http://www.in-lombardia.it/" target="_blank">VISITA INLOMBARDIA</a>
    <a class="btn" href="http://www.in-lombardia.it/iscriviti-alla-newsletter" target="_blank">ISCRIVITI</a>

  </div>
</section>
