<section id="inlombardia_banner" class="section--fixed-bg">
  <div class="row row--padding text-wh align-center">

    <h2>WOULD YOU LIKE TO FIND OUT MORE ABOUT LOMBARDY?</h2>
    <p class="lead">Sign up for our newsletter to stay updated on news, events and everything that happens in the region.</p>
    <a class="btn" href="http://www.in-lombardia.com/" target="_blank">VISIT IN-LOMBARDIA</a>
    <a class="btn" href="http://www.in-lombardia.com/subscribe-to-the-newsletter" target="_blank">SUBSCRIBE</a>

  </div>
</section>
