<section id="inlombardia_banner" class="section--fixed-bg">
  <div class="row row--padding text-wh align-center">

      <h2>MÖCHTEN SIE MEHR ÜBER DIE LOMBARDEI ERFAHREN?</h2>
      <p class="lead">Immer bestens informiert sind Sie mit dem Newsletter der Lombardei über Neuigkeiten, Veranstaltungen und Angebote - bitte melden Sie sich hier an.</p>
      <a class="btn" href="http://www.in-lombardia.de/" target="_blank">IN-LOMBARDIA BESUCHEN</a>
      <a class="btn" href="http://www.in-lombardia.de/newsletter-abonnieren" target="_blank">ABONNIEREN</a>

  </div>
</section>
