<div class="row__column offer">
  <div class="offer__image">
    <a class="offer__image-link" id="image-link-{{ offer.class }}" href="{{ offer.link }}">
      <img src="{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg" width="100%" alt="{{ offer.title }}" />
    </a>
  </div>
  <div class="offer__content">
    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="h4 offer__content-subtitle">{{ offer.location }}</h3>
    <p>{{ offer.description }}</p>
    <p>{{ offer.price }} {{ offer.price-description }}</p>
    <a id="button-link-{{ offer.class }}" href="{{ offer.link }}" class="btn btn__sm">
      {{ offer.cta }}
    </a>
    <p></p>
  </div>
</div>
