---
layout: default_de
language: de
page-order: 2
nav: true
title: Kunst & Kultur
class: art-and-culture
category: art-and-culture
ext-link: http://speciale.in-lombardia.it/de/kunts/
banner-img: banner-art.jpg
banner-pre-title:
banner-post-title: für alle Sinne
summary: Von Leonardo Da Vinci bis zu modernem Design - die Lombardei überrascht mit Vielfalt
intro: >
  <p>Theater, Museen, Architektur - für Kulturliebhaber und Kunstinteressierte hat die Lombardei das richtige Programm: Besuchen Sie die UNESCO-Weltkulturerben, die Mailänder Kunstsammlungen oder begeben Sie sich auf die Spuren von Leonardo da Vinci.</p>
---



<!-- EXTERNAL IMAGELINKS -->
<section class="np">
  <div class="row row--padding row--columns-6-6 sitelinks">

    <!-- Large link -->
    <div class="sitelinks__link sitelinks__link--large row__column">
      <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
        <h4>{{ page.title }}</h4>
        <span class="btn">Mehr erfahren</span>
      </a>
      <img src="{{ site.baseurl }}/img/content/link--{{page.class}}.jpg" width="100%" />
    </div>

    <!-- 2x2 grid -->
    <div class="row__column"><div class="row__columns-6-6">

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Denkmäler Lombardei</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/monuments-in-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Unesco Welterben Lombardei</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/unesco-in-lombardia.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Museen Lombardei</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/museums-in-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Die 10 nicht zu versäumenden Kunstwerke</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/die-10-nicht-zu-versaumenden-kunstwerke.jpg" width="100%" />
      </div>

    </div></div>

  </div>
</section>


<section>

  {% assign offers = site.data.offers_de | where: "category", page.class %}
  {% assign offer_count = 0 %}
  {% for offer in offers %}
    {% assign offer_count = offer_count | plus: 1 %}
  {% endfor %}

  {% if offer_count > 0 %}
    <div class="row align-center">
      <h3>Angebote</h3>
    </div>
    {% include offer-page-content.html %}
  {% endif %}

</section>
