// styles for the offer blocks that appear on the terrain pages


.offer {
  background-color: $white;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,0.1);
  .row__column{
    margin-top: 0;
  }

  @include bp( large ) {
    min-height: 480px;
  }
}

.offer__image {
  border-top: 3px solid $charcoal;
  position: relative;
  overflow: hidden;
}

.offer__image-link {}

.offer__image img {
  float: left;
}

.offer__content {
  padding: ($margin / 1.5) $margin;
  @include bp( large ) {
    padding: ($margin / 1.5) $margin ($margin*2);
  }
  p + p { margin-top: .2em; }
}

.offer__content-title {
  margin-bottom: 0.15em;
  font-size: 1.728em;
  color: $charcoal;
}

.offer__content-subtitle {
  margin-bottom: .833em;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.44;
  text-transform: uppercase;
}

.svg .offer__content-subtitle:before {
    background-image: url(../img/icon/map-pin.svg);
}
.offer__content-subtitle:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: .833em;
    margin-right: .8em;
    margin-bottom: .2em;
    vertical-align: middle;
    background-image: url(../img/icon/map-pin.png);
    background-size: contain;
}
.offer__content-subtitle:before, .offer__image {
    background-position: center;
    background-repeat: no-repeat;
}

.offer__content-price {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0.15em;
  color: $red;
}

@include bp( large ) {
  .offer .btn__sm {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}
