// general typographic styles


// -------- root typography styles --------

$core-font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Lato', 'Helvetica Neue', sans-serif;
$title-font-family: 'Questrial', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  letter-spacing: -.015em;
  color: #64645c;
  -webkit-text-size-adjust: 100%;
  @include bp( large ) {
    font-size: 15px;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
}

h1, .h1 {
  line-height: 1.05;
  margin-bottom: .2em;
  letter-spacing: 0.1em;
  font-size: 3.375em;
  @include bp( medium ) {
    font-size: 4em;
  }
  @include bp( large ) {
    font-size: 6.063em;
  }
}

h2, .h2 {
  line-height: 1.25;
  margin-bottom: .5em;
  letter-spacing: 0.05em;
  font-size: 2em;
  @include bp( medium ) {
    font-size: 2.488em;
  }
  @include bp( large ) {
    font-size: 2.986em;
  }
}

h3, .h3 {
  margin-bottom: .5em;
  font-size: 1.728em;
  @include bp( medium ) {
    font-size: 2.074em;
  }
  @include bp( large ) {
    font-size: 2.488em;
  }
}

h4, .h4 { font-size: 1.728em; letter-spacing: 0.1em; }


// -------- general content styles --------

.page-content {
  p + *         { margin-top: 1em; }
  p.lead        { font-size: 1.25em; line-height: 1.4; }
  li            { list-style-position: inside; }
  ul li         { list-style-type: disc; }
  ol li         { list-style-type: decimal; }
  em            { font-style: italic; }
  strong        { font-weight: 600; }
  .align-left   { text-align: left; }
  .align-right  { text-align: right; }
  .align-center { text-align: center; }
  .no-vp { padding-top: 0; padding-bottom: 0; }
  .no-vm { margin-top: 0; margin-bottom: 0; }
  .text-wh { color: #fff; }
}

p {
  max-width: 720px;
}
.align-center p {
  margin-left: auto; margin-right: auto;
}


hr {
  border: 0;
  height: 0;
  border-top: 1px solid #d2d2cb;
  margin-bottom: 30px; }
hr.center { margin-left: auto; margin-right: auto; width: 100px; }
