---
layout: default_en
language: en
page-order: 7
nav: true
title: Events
class: events
category: events
ext-link: http://speciale.in-lombardia.it/en/secret-escapes/events
banner-img: banner-events.jpg
banner-pre-title:
banner-post-title: In Lombardia
summary:
intro: >
  <p>There’s one thing for certain: you’ll never be bored in Lombardy.</p>
  <p>Milan Fashion Week is only the start of the annual events and celebrations in Lombardy. A holiday in the region isn’t just about lounging by a gorgeous lake (although don’t let us stop you), it’s the ideal destination for holiday-goers who can’t sit still for even a second. Sports fans arrive in their thousands for the Monza Grand Prix and design lovers can’t resist a purchase or two at the world-famous furniture fair. You’ll be spoilt for choice.</p>
---



<!-- EXTERNAL IMAGELINKS -->
<section class="np">
  <div class="row row--padding row--columns-6-6 sitelinks">

    <!-- Large link -->
    <div class="sitelinks__link sitelinks__link--large row__column">
      <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
        <h4>{{ page.title }}</h4>
        <span class="btn">Find out more</span>
      </a>
      <img src="{{ site.baseurl }}/img/content/link--{{page.class}}.jpg" width="100%" />
    </div>

    <!-- 2x2 grid -->
    <div class="row__column"><div class="row__columns-6-6">

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>From Giotto to De Chirico</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/from-giotto-to-de-chirico.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Escher</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/escher.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>The World of Leonardo</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/the-world-of-leonardo.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>La prima della Scala</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/la-prima-della-scala.jpg" width="100%" />
      </div>

    </div></div>

  </div>
</section>


<section>

  {% assign offers = site.data.offers_en | where: "category", page.class %}
  {% assign offer_count = 0 %}
  {% for offer in offers %}
    {% assign offer_count = offer_count | plus: 1 %}
  {% endfor %}

  {% if offer_count > 0 %}
    <div class="row align-center">
      <h3>Offers</h3>
    </div>
    {% include offer-page-content.html %}
  {% endif %}

</section>
