---
layout: default_en
language: en
page-order: 2
nav: true
title: Arts and Culture
class: art-and-culture
category: art-and-culture
ext-link: http://speciale.in-lombardia.it/en/secret-escapes/art
banner-img: banner-art.jpg
banner-pre-title:
banner-post-title: In Lombardia
summary:
intro: >
  <p>Explore a world of creativity and inspiration.</p>
  <p>Italy is synonymous with world-class art. It’s a cultural melting pot and Lombardy is the ideal region to soak it all in. Whether you’re after design or history, or a little of both, there’s culture to be found all over Lombardy. Don’t just take our word for it - Mantua is Italy’s Capital of Culture and the entire city has been declared as one of 10 UNESCO World Heritage Sites in the region. Want to see it all? Start with Varese’s sacred mountains and rock carvings, then take a trip to the historic settlement of Crespi d'Adda before staring in awe at one of the most famous paintings in the world: Da Vinci’s Last Supper, which hangs in Milan.</p>
---



<!-- EXTERNAL IMAGELINKS -->
<section class="np">
  <div class="row row--padding row--columns-6-6 sitelinks">

    <!-- Large link -->
    <div class="sitelinks__link sitelinks__link--large row__column">
      <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
        <h4>{{ page.title }}</h4>
        <span class="btn">Find out more</span>
      </a>
      <img src="{{ site.baseurl }}/img/content/link--{{page.class}}.jpg" width="100%" />
    </div>

    <!-- 2x2 grid -->
    <div class="row__column"><div class="row__columns-6-6">

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Monuments in Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/monuments-in-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Churches in Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/churches-in-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Museums in Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/museums-in-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Unesco Sites in Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/unesco-in-lombardia.jpg" width="100%" />
      </div>

    </div></div>

  </div>
</section>


<section>

  {% assign offers = site.data.offers_en | where: "category", page.class %}
  {% assign offer_count = 0 %}
  {% for offer in offers %}
    {% assign offer_count = offer_count | plus: 1 %}
  {% endfor %}

  {% if offer_count > 0 %}
    <div class="row align-center">
      <h3>Offers</h3>
    </div>
    {% include offer-page-content.html %}
  {% endif %}

</section>
