---
layout: default_de
language: de
page-order: 7
nav: true
title: Events
class: events
category: events
ext-link: http://speciale.in-lombardia.it/de/events-lombardei/
banner-img: banner-events.jpg
banner-pre-title:
banner-post-title: Es gibt immer was zu tun
summary: Von Mailand bis in die Provinz - in der Lombardei ist immer etwas los
intro: >
  <p>Der Event-Kalender der Lombardei ist immer gut gefüllt, ob in Mailand oder in der Provinz, ob Sport, Theater oder Feste: Es gibt einiges zu entdecken.</p>
---



<!-- EXTERNAL IMAGELINKS -->
<section class="np">
  <div class="row row--padding row--columns-6-6 sitelinks">

    <!-- Large link -->
    <div class="sitelinks__link sitelinks__link--large row__column">
      <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
        <h4>{{ page.title }}</h4>
        <span class="btn">Mehr erfahren</span>
      </a>
      <img src="{{ site.baseurl }}/img/content/link--{{page.class}}.jpg" width="100%" />
    </div>

    <!-- 2x2 grid -->
    <div class="row__column"><div class="row__columns-6-6">

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>La prima della Scala</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/la-prima-della-scala.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Von Giotto bis De Chirico</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/from-giotto-to-de-chirico.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Escher</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/escher.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Die Welt von Leonardo</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/the-world-of-leonardo.jpg" width="100%" />
      </div>

    </div></div>

  </div>
</section>


<section>

  {% assign offers = site.data.offers_de | where: "category", page.class %}
  {% assign offer_count = 0 %}
  {% for offer in offers %}
    {% assign offer_count = offer_count | plus: 1 %}
  {% endfor %}

  {% if offer_count > 0 %}
    <div class="row align-center">
      <h3>Angebote</h3>
    </div>
    {% include offer-page-content.html %}
  {% endif %}

</section>
