---
layout: default_en
language: en
page-order: 5
nav: true
title: Nature
class: nature
category: nature
ext-link: http://speciale.in-lombardia.it/en/secret-escapes/nature
banner-img: banner-nature.jpg
banner-pre-title:
banner-post-title: In Lombardia
summary:
intro: >
  <p>You don’t have to search for Lombardy’s natural beauty - it’s right there in front of you.</p>
  <p>Lombardy is actually one of the greenest parts of Italy. There are 25 natural parks for you to explore. Some of the mountains in the Bergamo Alps reach 3000 metres above sea level and you’ll find an array of Alpine wildlife in Stelvio National Park, including ibexes and chamois. For a little bit of everything, Brescia’s perfect mix of mountains and coastline is showcased in Alto Garda. Get on your bike, put on your skates, grab your hiking boots. There’s a beautiful adventure to be had and every inch of it is Instagram-worthy.</p>
---



<!-- EXTERNAL IMAGELINKS -->
<section class="np">
  <div class="row row--padding row--columns-6-6 sitelinks">

    <!-- Large link -->
    <div class="sitelinks__link sitelinks__link--large row__column">
      <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
        <h4>{{ page.title }}</h4>
        <span class="btn">Find out more</span>
      </a>
      <img src="{{ site.baseurl }}/img/content/link--{{page.class}}.jpg" width="100%" />
    </div>

    <!-- 2x2 grid -->
    <div class="row__column"><div class="row__columns-6-6">

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Natural Parks Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/natural-parks-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Sports Tourism Lombardy</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/sports-tourism-lombardy.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Lake Ceresio to Lake Maggiore</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/lake-ceresio-to-lake-maggiore.jpg" width="100%" />
      </div>

      <div class="sitelinks__link row__column">
        <a target="_blank" class="sitelinks__link--content row__column" href="{{page.ext-link}}">
          <h4>Stelvio Park</h4>
        </a>
        <img src="{{ site.baseurl }}/img/content/stelvio-park.jpg" width="100%" />
      </div>

    </div></div>

  </div>
</section>


<section>

  {% assign offers = site.data.offers_en | where: "category", page.class %}
  {% assign offer_count = 0 %}
  {% for offer in offers %}
    {% assign offer_count = offer_count | plus: 1 %}
  {% endfor %}

  {% if offer_count > 0 %}
    <div class="row align-center">
      <h3>Offers</h3>
    </div>
    {% include offer-page-content.html %}
  {% endif %}

</section>
